html {
  font-size: 20px;
}

@media screen and (max-width: 860px) {
  html {
    font-size: 18px;
  }
}
@media screen and (max-width: 600px) {
  html {
    font-size: 16px;
  }
}
@media screen and (max-width: 480px) {
  html {
    font-size: 16px;
  }
}

body {
  font-family: "Montserrat", sans-serif;
  font-family: "Mrs Saint Delafield", cursive;
  font-family: "Noto Sans JP", sans-serif;
  font-family: "Tangerine", cursive;
}

a {
  color: #2F241B;
  text-decoration: none;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
  border-style: none;
}

li {
  list-style: none;
}

.ly-cont {
  margin: 0 auto;
  max-width: 860px;
  width: 100%;
}
@media screen and (max-width: 860px) {
  .ly-cont {
    max-width: none;
    padding: 0 10%;
  }
}
@media screen and (max-width: 400px) {
  .ly-cont {
    max-width: none;
    padding: 0 5%;
  }
}

.ja {
  font-family: "Noto Sans JP", sans-serif;
}

.home {
  background: #DEDEDE;
  height: 100vh;
}

.home__menu {
  background: #DEDEDE;
  text-align: center;
  padding-top: 150px;
}
.home__menu__list__item {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  width: 600px;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: center;
}
.home__menu__list__item__icon {
  display: inline-block;
  text-align: left;
}
.home__menu__list__item__icon img {
  width: 80px;
}
@media screen and (max-width: 600px) {
  .home__menu__list__item__icon img {
    width: 40px;
  }
}
.home__menu__list__item__text {
  text-align: center;
  width: 400px;
}
.home__menu__list__item__text span {
  font-size: 4rem;
  font-weight: 400;
}